<!doctype html>

<html>
  <head>
    {% load static %}

    <title>Register</title>

    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  </head>

  <body>
    <div class="container">
      <center>
        <h1>User Registration</h1>

        <form method="POST">
          {% csrf_token %} {{ form.username }}
          <p id="username-error" class="error-message" style="color: red"></p>
          {{ form.email }}
          <p id="email-error" class="error-message"></p>
          {{form.password1}}
          <p id="password-error" class="error-message"></p>
          {{form.password2}}

          <button type="submit">Register</button>
        </form>

        <br />

        <a href="/"> Back </a>
      </center>
    </div>
    <script>
      const username = document.getElementById("id_username");
      const error = document.getElementById("username-error");

      username.addEventListener("input", function () {
        if (username.value.length > 0 && !isNaN(username.value.charAt(0))) {
          error.innerHTML =
            ' <span class="error-icon">!</span> Username must start with a letter';
          username.classList.add("error");
        } else {
          error.innerText = "";
          username.classList.remove("error");
        }
      });

      const email = document.getElementById("id_email");
      const emailError = document.getElementById("email-error");

      email.addEventListener("input", function () {
        if (email.value.length > 0 && !isNaN(email.value.charAt(0))) {
          emailError.innerHTML =
            ' <span class="error-icon">!</span>Email must start with a letter';

          email.classList.add("error");
        } else {
          emailError.innerText = "";
          email.classList.remove("error");
        }
      });
      const password = document.getElementById("id_password1");
      const passwordError = document.getElementById("password-error");

      password.addEventListener("blur", function () {
        if (password.value.length < 8) {
          passwordError.innerHTML =
            ' <span class="error-icon">!</span>Password must be at least 8 characters';

          password.classList.add("error");
        } else {
          passwordError.innerText = "";
          password.classList.remove("error");
        }
      });
    </script>
  </body>
</html>
